<p>
  wysiwyg-jodit works!
</p>


<h4>This is git repo</h4>
<a href="https://github.com/jodit/jodit-angular">https://github.com/jodit/jodit-angular</a>
<h4>This is the official webstie, here you can find the setting for the editor</h4>
<a href="https://xdsoft.net/jodit/play.html">https://xdsoft.net/jodit/play.html</a>
<h4>This is the npm site</h4>
<a href="https://www.npmjs.com/package/jodit-angular">https://www.npmjs.com/package/jodit-angular</a>
<br>
<br>
<br>
<jodit-editor
  [config]="joditOptions"
  (onChange)="jodit_onChange($event)"
  >
</jodit-editor> 