<p>
  agmtest-geocoding works
</p>


<div>
  source code used to implement address autocomplete:
  <br> https://stackoverflow.com/questions/50472526/angular-5-autocomplete-geolocation-npm-install-not-working
  <br>
  <br> Remember to enable the required apis: geocoding, geolocation, reverse geocoding, places... apis from google's developer
  pannel:
  <br> If not enabled api call permission errors may occure.
  <br> https://stackoverflow.com/questions/32994634/this-api-project-is-not-authorized-to-use-this-api-please-ensure-that-this-api/32998566
  <br>
  <br> To import and use ts types for google I've used the method from the post:
  <br> https://stackoverflow.com/questions/36064697/how-to-install-typescript-typings-for-google-maps
  <br> I've used the 3 slash ts reference
  <br>///reference path="../../../../node_modules/@types/googlemaps/index.d.ts" /
  <br> The standar method had some issues that I've not solved yet.
</div>



<div>
  <input type="text" placeholder="Search for location" autocorrect="off" name="" spellcheck="off" #autoSearch/>
</div>







<!-- testing form - BELOW -->

<form [formGroup]="addressForm" (ngSubmit)="onSubmitAddressForm()">


  <label>
    Street Address:
    <input kendoTextBox formControlName="route" />
  </label>
  <br>
  <label>
    Street number:
    <input kendoTextBox formControlName="street_number" />
  </label>
  <br>
  <label>
    City:
    <input kendoTextBox formControlName="locality" />
  </label>
  <br>
  <label>
    State/Region:
    <input kendoTextBox formControlName="administrative_area_level_1" />
  </label>
  <br>
  <label>
    Zip Code:
    <input kendoTextBox formControlName="postal_code" />
  </label>
  <br>
  <label>
    Country:
    <input kendoTextBox formControlName="country" />
  </label>
  <br>




  <span *ngIf="!addressForm.valid && addressForm.touched">
    Please enter valid data
  </span>
  <br>
  <button kendoButton [look]="'outline'" type="submit" [disabled]="!addressForm.valid">submit</button>
  <!-- <button type="submit" [disabled]="!profileForm.valid">Submit</button> -->
  <br>
  <!-- {{msgInvalidForm|json}} -->
</form>





<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onChosenAddressLocation($event)">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>


  <!-- <agm-circle [latitude]="lat" [longitude]="lng"
  [(radius)]="circleRadius"
  [fillColor]="'blue'"
  [circleDraggable]="true"
  [editable]="true"></agm-circle> -->

</agm-map>




<br>
<h3>json data</h3>
<pre>lat {{lat | json}}</pre>
<pre>lng {{lng | json}}</pre>
<pre>address_components {{address_components | json}}</pre>