<p>
  test-ngxspinner works!
</p>



<ngx-spinner
  bdColor = "rgba(32,32,32,0.83)" 
  size = "default" 
  color = "#fff500" 
  type = "line-scale-pulse-out">
</ngx-spinner>



<h4>The github project</h4>
<a href="https://github.com/Napster2210/ngx-spinner">https://github.com/Napster2210/ngx-spinner</a>

<h4>The npm page</h4>
<a href="https://www.npmjs.com/package/ngx-spinner">https://www.npmjs.com/package/ngx-spinner</a>

<h4>The setting and configuration page</h4>
<a href="https://napster2210.github.io/ngx-spinner/">https://napster2210.github.io/ngx-spinner/</a>

<br>
<br>
<br>

<p>
  *Pay attention to the version you install based on the angular version you've got installed:
</p>


<table>
  <tr>
    <td>Angular 4</td>
    <td>Angular 5</td>
    <td>Angular 6</td>
  </tr>
  <tr>
      <td>>= v1.2.0</td>
      <td>>= v2.0.0</td>
      <td>>= v6.0.0</td>
    </tr>
</table>


<br>
<br>
<br>

<button (click)="runNgxSpinner()">Start NgxSpinner</button>
