<h1 class="page-title">Dashboard <small><small>The Lucky One</small></small></h1>

<div class="row">
  <div class="col-md-6">
    <section widget class="widget">
      <header>
        <h4>
          Example <span class="fw-semi-bold">Widget</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <img class="pull-left mr-sm" src="assets/img/a2.png" alt="Angular" width="100">
        <p class="lead">You are looking at a completely new version of Sing App built
          with brand new <strong>Angular Final Release</strong></p>
        <p class="fs-mini">Made by <a href="http://flatlogic.com" target="_blank">Flatlogic</a>.</p>
      </div>
    </section>
  </div>
</div>

<br>
<h4 *ngIf="auth.isAuthenticated()">
  You are logged in!
</h4>
<h4 *ngIf="!auth.isAuthenticated()">
  You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
</h4>

<br>
<span>Date time: {{dateTime | date: 'long'}}</span>
<br>
<span>Date time: {{4+3}}</span>
<br>
<span>Date time: {{dateTime}}</span>

<br>
<h1 i18n="An introduction header for this sample">Hello i18n!</h1>


<br>
<h1 i18n="Other translation test">This is Good!</h1>






