<p>
  test-soundemit works!
</p>


<br>
<h5>72129__kizilsungur__sweetalertsound5.wav</h5>
<div>
  The sound samples can be found at this site
</div>
<a href="https://freesound.org/browse/tags/alert/?page=2#sound">https://freesound.org/browse/tags/alert/?page=2#sound</a>
<br>
<a href="https://freesound.org/people/KIZILSUNGUR/sounds/72129/">https://freesound.org/people/KIZILSUNGUR/sounds/72129/</a>

<br>
<br>
<br>
<h5>Sample codes can be found here:</h5>
<a href="https://stackoverflow.com/questions/12953928/immediate-play-sound-on-button-click-in-html-page">https://stackoverflow.com/questions/12953928/immediate-play-sound-on-button-click-in-html-page</a>
<br>
<a href="https://stackoverflow.com/questions/44883501/play-sound-in-angular-4?rq=1">https://stackoverflow.com/questions/44883501/play-sound-in-angular-4?rq=1</a>

<br>
<br>
<h5>Play sound using angular</h5>
<button type="button" (click)="playAudio($event)">Play sound</button>

<br>
<br>
<h5>Play sound using HTML5</h5>
<audio id="sound1" src="/assets/audio/event/72129__kizilsungur__sweetalertsound5.wav" preload="auto"></audio>
<button onclick="document.getElementById('sound1').play();">Play it</button>