<!--
ZR:This file (web.config) needs to be included in the angular distribution for production when deployed in
an IIS windows server. This will be used to disable the url routing for IIS server, and will be handled to 
Angular.

To include the file in a build remember to include the file in the angular-cli.json file settings in the:
  "apps": [
    {
      "assets": [
        "assets", "web.config"
      ],


https://stackoverflow.com/questions/39538464/how-to-include-custom-files-with-angular-cli-build
-->

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="angularjs routes" stopProcessing="true">
          <match url=".*" />
            <conditions logicalGrouping="MatchAll"> 
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/$" negate="true"/>  
            </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>